### Importing libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

### Database Connection

In [14]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}".format(user='root',pw=8904,host='127.0.0.1'))

##### Create a Database and a table inside the database

In [18]:
engine.execute("create database if not exists ineuron")
engine.execute('create table if not exists ineuron.glass_data(`index` INT, RI FLOAT, Na FLOAT, Mg FLOAT, Al FLOAT, Si FLOAT, K FLOAT, Ca FLOAT, Ba FLOAT, Fe FLOAT, Class INT)')

##### Reading the data from and pushing it to database

In [20]:
data = pd.read_csv('glass.data')
data.to_sql('glass_data',con=engine,schema='ineuron',if_exists='append',index=False,chunksize=2500)

##### Fetching the data from the table

In [21]:
query = 'select * from ineuron.glass_data'
query_results = pd.read_sql_query(query,engine)

In [23]:
query_results.head()

   index       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Class
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0      1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0      1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0      1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0      1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0      1